<div class="container">
    <div class="card w-75">
        <div class="card-body p-1">
          <a><h4 class="card-title">{{user.username}}</h4></a>
          <h5 class="card-subtitle">{{user.name}}</h5>
          <h5 class="card-subtitle">{{user.company}}</h5>
          <p class="card-text text-center">{{user.emailAddress}}, {{user.phone}}</p>
          <p class="card-text text-muted">{{user.city}}, {{user.country}}</p>
        </div>
        <h4 class="mt-4">Projects</h4>
        <div class="card mt-2" *ngFor="let project of user.projects">
          <div class="card-body p-1">
            <h5 class="card-title"><strong>{{project.name}}</strong></h5>
            <h6 class="card-subtitle"><strong>Description: </strong>{{project.description}}</h6>
            <div class="card-text">
              <strong>URL:</strong> {{project.url}} <br>
              <strong>Last Updated:</strong> {{project.lastUpdated}}
            </div>
          </div>
        </div>
        <h4 class="mt-4">Repositories</h4>
        <div class="card mt-2" *ngFor="let repo of user.repositories">
          <div class="card-body p-1">
            <h5 class="card-title"><strong>{{repo.name}}</strong></h5>
            <h6 class="card-subtitle"><strong>Description: </strong>{{repo.description}}</h6>
            <div class="card-text">
              <strong>URL:</strong> {{repo.url}} <br>
              <strong>Last Updated:</strong> {{repo.lastUpdated}}
            </div>
          </div>
        </div>
      </div>
</div>