<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">GitFun</a>

    <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/overview']">Profile</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/repositories']">Repositories</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/projects']">Projects</a>
      </li>
    </ul>
  
    <div *ngIf="isLoggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{authService.getUsername()}}</a>
      
        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/overview']">Profile</a>
          <a class="dropdown-item" [routerLink]="['/repositories']">Repositories</a>
          <a class="dropdown-item" [routerLink]="['/projects']">Projects</a>
          <a class="dropdown-item" [routerLink]="['/users']">Users</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
  
    <form *ngIf="!isLoggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input required class="form-control mr-sm-2" type="text" placeholder="Username"
      name="username" [(ngModel)]="model.username">
      <input required class="form-control mr-sm-2" type="password" placeholder="Password"
      name="password" [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>