<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo velit impedit doloribus maxime commodi necessitatibus culpa illo ipsam, optio quas! Aliquam quisquam vero voluptatem vitae perferendis illo nisi officiis unde?</p>
    </div>
    <div class="col-md-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora aspernatur, atque dicta dignissimos ea nobis officia dolores. Eum maxime exercitationem quasi similique! Unde voluptate esse doloremque saepe nisi possimus libero.</p>
    </div>
  </div>
</div>